@import '../../../styles/variables.scss';

body {
  background-color: $backgroundColor;
}

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

.main {
  margin: 50px 0px;

  .likeBtn:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  main {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
  }

  section {
    width: 500px;
    min-height: 700px;
    margin-right: 20px;
    border-radius: 1%;
  }
}
