@import '../../styles/variables.scss';

.mainNav {
  @include flex(space-between, center);
  height: 4rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 0.1rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .navLogo {
    font-family: 'Lobster', cursive;
    font-size: 2rem;

    img {
      width: 1.5rem;
    }
  }

  .navInput {
    position: relative;
    @include flex(center, center);
    font-size: 0.9rem;

    img {
      margin-right: 50px;
      width: 15px;
      height: 15px;
      opacity: 0.2;
    }

    input {
      width: 18rem;
      height: 2rem;
      text-align: center;
      background-color: $backgroundColor;
      border: 1px solid rgba(0, 0, 0, 0.1);
      &::placeholder {
        opacity: 0.5;
      }
    }

    span {
      @include flex(center, center);
      position: absolute;
      color: rgba(0, 0, 0, 0.1);
      pointer-events: none;
    }
  }

  .navIcons {
    display: flex;
    justify-content: space-around;
    width: 10rem;
  }

  .navIcons img {
    width: 1.5rem;
  }
}
